

//Colores
$green:#4CB8B3;
$pink:#f53756;
$yellow:#fef46D;
$purple:#752f97;
$black:#000;
$white:#fff;
//Media Query
$phone: 468px;
$tablet:768px;
$desktop: 1200px;


//Fuentes
$fontPrimary : 'Montserrat', sans-serif;
$light: 300;
$regular: 400;
$bold: 700;
$extra: 900;


//separation
$separation:5rem